CarMap.xcodeproj/xcuserdata/inCar.xcuserdatad/xcschemes/CarMap.xcscheme
CarMap.xcodeproj/xcuserdata/inCar.xcuserdatad/xcschemes/xcschememanagement.plist
CarMap.xcworkspace/xcuserdata/inCar.xcuserdatad/UserInterfaceState.xcuserstate
Pods
